<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="vetSidebar" id="sidebar">
    <nav class="sidebar-nav">
      <h3>Menu Veterinarian</h3>
      <ul>
        <li><a href="/dashboard/vet">Dasbor</a></li>
        <li><a href="/schedule/setup">Atur Jadwal</a></li>
        <li><a href="/appointments">Semua Janji Temu</a></li>
        <li><a href="/profile">Profil Saya</a></li>
      </ul>
      <div class="sidebar-bottom">
        <a href="/logout" class="logout-link">Keluar</a>
      </div>
    </nav>
  </div>
</html>
